.header {
    top: 0;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    margin-right: 7.5vw;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 5vw;
    flex-wrap: wrap;
}

.nav-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #aa80ff;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #884dff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link:hover {
    color: #884dff
}

.active:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #884dff;
}

.active {
    color: #884dff;
}